.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background:#f2f2f2;
  position: relative;
  display: flex;
  margin: 0;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo{
  height: 32px;
  width: 228px;
}

.logo_place_header{
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title{
  display: flex;
  align-self: center;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  z-index: 2;
  margin: 0;
  margin-left: 64px;
}

.header__text{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__link{
  text-decoration: none;
  color:  #2f80ed;
}

.header__link::after{
  content: '\2192';
  }

.description{
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  margin: 0;
}
.two-columns{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  position: relative;
  min-height: 388px;
}

.two-columns__span-accent{
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.two-columns__brief{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  width: 175px;
  display: flex;
  color:#2f80ed;
  margin: 0;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin:0;
  margin-bottom: 30px;
  }

  .two-columns__paragraph:last-child{
    margin-bottom: 0;
  }

.digits{
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.section-title{
  text-align: center;
  margin:0;
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.section-subtitle{
  text-align: center;
  margin: 0;
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;

}

.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: 1100px;
  margin: 0;
  padding: 0;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  margin:0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
}

.feynman{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feynman__link{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  color:  #2f80ed;
  text-decoration: none;
}

.feynman__link::after{
  content: '\2192';
}

.feynman__title{
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.feynman__subtitle{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
  margin-top: 70px;
}

.kaufman{
 background-color: #1f1f1f;
 display: flex;
 position: relative;
 flex-direction: column;
 align-items: center;
 overflow: hidden;
}

.section-title_theme_dark{
  margin-top: 90px;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark{
  color: white;
  z-index: 1;
}

.table_theme_dark{
 margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman-triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
}

.footer{
  display: flex;
  justify-content: center;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.logo_place_footer{
  background-image: url("../images/logo_place_footer.svg");
  display: flex;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright{
  flex-basis: 771px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  margin: 18px 0;
}

.footer__heading{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column-link{
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.footer_column-links{
  list-style-type: none;
  padding: 0;
  margin:0;
  margin-bottom: 16px;
}

.footer__social_icon{
  margin-right: 10px;
 }
